# Encoding Notebook

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

from sklearn.metrics import classification_report, confusion_matrix, accuracy_score, balanced_accuracy_score, roc_auc_score
from sklearn.datasets import load_breast_cancer, load_iris, make_moons, make_circles, make_classification
from sklearn.linear_model import LogisticRegression
from category_encoders import WOEEncoder, TargetEncoder
from sklearn.tree import DecisionTreeRegressor
from sklearn.preprocessing import OneHotEncoder, LabelEncoder


from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline, Pipeline
from sklearn.preprocessing import MinMaxScaler, KBinsDiscretizer, FunctionTransformer
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier

from matplotlib import pyplot as plt
import seaborn as sns; sns.set()
%matplotlib inline

import warnings
warnings.filterwarnings("ignore")

import gc; gc.enable()

from sklearn.metrics import mean_absolute_error

In [2]:
df = pd.read_csv('cleaned_columns_dropped.csv', index_col=0)

In [3]:
df.head(2)

,id,amount_tsh,gps_height,installer,longitude,latitude,wpt_name,basin,region,district_code,...,water_quality,quality_group,quantity,quantity_group,source,source_class,waterpoint_type_group,status_group,year_recorded,month_recorded
0,69572,6000.0,1390,Roman,34.938093,-9.856322,none,Lake Nyasa,Iringa,5,...,soft,good,enough,enough,spring,groundwater,communal standpipe,2,2011,3
1,8776,0.0,1399,GRUMETI,34.698766,-2.147466,Zahanati,Lake Victoria,Mara,2,...,soft,good,insufficient,insufficient,rainwater harvesting,surface,communal standpipe,2,2013,3

In [4]:
df.drop(columns=['payment_type', 'quantity_group'], inplace=True)

In [5]:
df.columns.tolist()

['id',
 'amount_tsh',
 'gps_height',
 'installer',
 'longitude',
 'latitude',
 'wpt_name',
 'basin',
 'region',
 'district_code',
 'lga',
 'ward',
 'population',
 'public_meeting',
 'scheme_management',
 'permit',
 'construction_year',
 'extraction_type',
 'extraction_type_group',
 'extraction_type_class',
 'management',
 'management_group',
 'payment',
 'water_quality',
 'quality_group',
 'quantity',
 'source',
 'source_class',
 'waterpoint_type_group',
 'status_group',
 'year_recorded',
 'month_recorded']

In [ ]:
#target encode
lst_te = ['wpt_name', 'basin', 'region', 'district_code', 'lga', 'ward', 'scheme_management','installer','source']
ohe = ['extraction_type', 'extraction_type_group', 'extraction_type_class','management', 'payment', 'water_quality', 'management_group', 'quality_group', 
      'quantity','source_class', 'waterpoint_type_group']

target = 'status_group'

encoder = TargetEncoder()
encoder_ohe = OneHotEncoder(sparse=False)

for c in lst_te:
    df[str(c) + '_encoded'] = encoder.fit_transform(df[c].values, df[target])
    df.drop(columns=c, inplace=True)
    
df_new = df[ohe]
encoder_ohe.fit(df_new)
x = encoder_ohe.transform(df_new)
df1 = pd.DataFrame(x)
df = pd.concat([df, df1], axis=1)
df.drop(columns=ohe, inplace=True)


df.head()

In [ ]:
df.to_csv('encoded_data.csv')